@charset "utf-8";
/* CSS Document */

/*
	Team 23 Digital Direct
    UXCD Assessment 3
    2nd Draft 01/5/17
*/

body
{
	font-family: 'Roboto', sans-serif;
	background-color: #d1e7e8;
	padding-top: 135px;
}

/*
#pinned-navbar
{
	position: fixed;
	top: 0px;
	z-index: 1;
}
*/
h1,h2,h3,h4,h5,h6
{
	font-family: 'Oswald', sans-serif;
	color: #262d6b;
}

.padding-left
{
	padding-left: 15px;
}

.definition-banner
{
	color: #FFF;
	background-color: #785ea8;
	text-align: center;
	box-shadow: 0 35px 50px -25px #555555;
	-webkit-box-shadow: 0 35px 50px -25px #555555;
}

.definition-banner h1
{
	color: #FFF;
}

.definition-banner h3
{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

.align-center
{
	text-align: center;
}

.align-justify
{
	text-align: justify;
}

.align-left
{
	text-align: left;
}

.align-right
{
	text-align: right;
}

.align-table
{
	margin-left: auto;
	margin-right: auto;
}


/*
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/

.red-bg
{
	background-color: #F00;
}

.white-bg
{
	background-color: #FFF;
}

.green-bg
{
	background-color: #7cc142;
}

.black-bg
{
	background-color: #000;
}

/*
.purple-bg
{
	background-color: #785ea8;
	-webkit-box-shadow: 0px 10px;
	box-shadow: 0px 10px;
}
*/

.spacer-row
{
	height: 20px;
}

#footer
{
	background: #686868;
}

.no-bottom-margin
{
	margin-bottom: 0px;
}
	
#logo
{
	background: #FFF;
}

.no-gutters
{
	padding: 0px;
}

#copyright
{
	padding-top: 5px;
	padding-bottom: 5px;
}

#kiella-pic-1
{
	border: solid 2px #FFF;
	margin-left: 15px;
}

#kiella-pic-2
{
	border: solid 2px #FFF;
	margin-right: 15px;
}

.top-nav-styling
{
	background-color: #14aee0;
	border-bottom: 2px solid #7cc142;
	color: #FFF;
}

#my-nav, #my-bottom-nav
{
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 20px;
}

#my-bottom-nav
{
	background: #686868;
}

.navbar .navbar-collapse 
{
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/* start custom navbar */
.navbar-custom {
    background-color:#14aee0;
    color:#ffffff;
    border-radius:0;
	border-bottom: 2px solid #7cc142;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #FFF;
    background-color: #7cc142;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #7cc142;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color: #188ecd; /* #eeeeee; */
}
.navbar-custom .icon-bar {
    background-color: #7cc142;
}

/* end custom navbar */


/* start custom navbar dropdowns */
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #7cc142;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #FFF;
  background-color: #14aee0;
}

/* end custom navbar dropdowns */

  
 /* start custom bottom navbar */
 
 .navbar-custom-bottom {
    background-color:#686868;
    color:#ffffff;
    border-radius:0;
	/*border-bottom: 2px solid #7cc142;*/
}

.navbar-custom-bottom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom-bottom .navbar-nav > .active > a {
    color: #FFF;
    background-color: #000;
}

.navbar-custom-bottom .navbar-nav > li > a:hover,
.navbar-custom-bottom .navbar-nav > li > a:focus,
.navbar-custom-bottom .navbar-nav > .active > a:hover,
.navbar-custom-bottom .navbar-nav > .active > a:focus,
.navbar-custom-bottom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #000;
}

.navbar-custom-bottom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom-bottom .navbar-toggle {
    background-color: #188ecd; /* #eeeeee; */
}
.navbar-custom-bottom .icon-bar {
    background-color: #7cc142;
}

/* end custom bottom navbar */


/* start custom bottom navbar dropdowns */
.navbar-custom-bottom .navbar-nav .dropdown-menu  { 
  background-color: #000;
}
.navbar-custom-bottom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-custom-bottom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom-bottom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #FFF;
  background-color: #686868;
}

/* end custom bottom navbar dropdowns */


/* tablet rules */
@media (min-width: 768px) and (max-width: 991px) 
{
	#my-nav
	{
		font-size: 18px;
	}
	
	#my-bottom-nav
	{
		font-size: 18px;
		padding: 0px;
	}
 }
 
 
 /* mobile rules */
@media (max-width: 767px)
{
	body
	{
		padding-top: 150px;
	}
	
	.navbar .navbar-collapse 
	{
  		text-align: left;
		margin-left: 5px;
	}
	
	#my-nav
	{
		height: auto;
	}
	
	#logo
	{
		text-align: center;
	}
	
	.navbar-custom-bottom
	{
		display: none;
	}
	
	#dca
	{
		padding-left: 0px;
		padding-bottom: 15px;
	}
}
