@charset "utf-8";
/* CSS Document */

/*
	Team 23 Digital Direct
    UXCD Assessment 3
    First Draft 27/04/17
*/

body
{
	font-family: 'Roboto', sans-serif;
	background-color: #d1e7e8;
	padding-top: 135px;
}

/*
#pinned-navbar
{
	position: fixed;
	top: 0px;
	z-index: 1;
}
*/
h1,h2,h3,h4,h5,h6
{
	font-family: 'Oswald', sans-serif;
	color: #262d6b;
}

#my-nav, #my-bottom-nav
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.padding-left
{
	padding-left: 15px;
}


.navbar .navbar-collapse {
  text-align: center;
}


.definition-banner h1
{
	color: #FFF;
}

.definition-banner h3
{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}






.align-center
{
	text-align: center;
}

.align-justify
{
	text-align: justify;
}

.align-left
{
	text-align: left;
}

.align-right
{
	text-align: right;
}

.align-table
{
	margin-left: auto;
	margin-right: auto;
}

.red-bg
{
	background-color: #F00;
}

.white-bg
{
	background-color: #FFF;
}

.green-bg
{
	background-color: #7cc142;
}

.definition-banner
{
	color: #FFF;
	background-color: #785ea8;
	text-align: center;
	box-shadow: 0 35px 50px -25px #555555;
	-webkit-box-shadow: 0 35px 50px -25px #555555;
}

.purple-bg
{
	background-color: #785ea8;
	-webkit-box-shadow: 0px 10px;
	box-shadow: 0px 10px;
}

.top-nav-styling
{
	background-color: #14aee0;
	border-bottom: 2px solid #7cc142;
	color: #FFF;
}

.spacer-row
{
	height: 20px;
}



#footer
{
	background: #686868;
}

#my-bottom-nav
{
	background: #686868;
}



.no-bottom-margin
{
	margin-bottom: 0px;
}
	

/* custom navbar */
.navbar-custom {
    background-color:#14aee0;
    color:#ffffff;
    border-radius:0;
	border-bottom: 2px solid #7cc142;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #FFF;
    background-color: #7cc142;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #7cc142;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color: #188ecd; /* #eeeeee; */
}
.navbar-custom .icon-bar {
    background-color: #7cc142;
}

/* end custom navbar */

/* custom navbar dropdowns */
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #7cc142;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #FFF;
  background-color: #14aee0;
}

/* end custom navbar dropdowns */

#logo
{
	background: #FFF;
}


.no-gutters
{
	padding: 0px;
	
}




@media (max-width: 767px)
{
	body
	{
		padding-top: 150px;
	}
	
	.navbar .navbar-collapse 
	{
  		text-align: left;
		margin-left: 5px;
	}
	
	#my-nav
	{
		height: auto;
	}
	
	#logo
	{
		text-align: center;
	}
	
	
	.navbar-custom-inverted
	{
		display: none;
	}
	
	#dca
{
	padding-left: 0px;
	padding-bottom: 15px;
}
	
}


@media (min-width: 768px) and (max-width: 991px) 
{
	
	
	
	#my-nav
	{
		font-size: 18px;
	}
	
	
 }
 
 
 
 
 /* bottom navbar */
 
 .navbar-custom-inverted {
    background-color:#686868;
    color:#ffffff;
    border-radius:0;
	/*border-bottom: 2px solid #7cc142;*/
}

.navbar-custom-inverted .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom-inverted .navbar-nav > .active > a {
    color: #FFF;
    background-color: #000;
}

.navbar-custom-inverted .navbar-nav > li > a:hover,
.navbar-custom-inverted .navbar-nav > li > a:focus,
.navbar-custom-inverted .navbar-nav > .active > a:hover,
.navbar-custom-inverted .navbar-nav > .active > a:focus,
.navbar-custom-inverted .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #000;
}

.navbar-custom-inverted .navbar-brand {
    color:#eeeeee;
}
.navbar-custom-inverted .navbar-toggle {
    background-color: #188ecd; /* #eeeeee; */
}
.navbar-custom-inverted .icon-bar {
    background-color: #7cc142;
}

/* end bottom navbar */

/* custom navbar-inverted dropdowns */
.navbar-custom-inverted .navbar-nav .dropdown-menu  { 
  background-color: #000;
}
.navbar-custom-inverted .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-custom-inverted .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #FFF;
  background-color: #686868;
}

/* end custom navbar-inverted dropdowns */



@media (min-width: 768px) and (max-width: 991px) 
{
	
	
	#my-bottom-nav
	{
		font-size: 18px;
		padding: 0px;
	}
 }